{
  "root": true,
  "plugins": ["effector", "import"],
  "extends": [
    "plugin:effector/recommended",
    "plugin:effector/scope",
    "plugin:effector/react",
    "plugin:effector/future",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
